/**
 * @file
 * Navigation Styling
 */
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgia.eot?") format("eot"), url("../fonts/georgia.otf") format("opentype"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype"), url("../fonts/georgia.svg#Helvetica") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiab.eot?") format("eot"), url("../fonts/georgiab.otf") format("opentype"), url("../fonts/georgiab.woff") format("woff"), url("../fonts/georgiab.ttf") format("truetype"), url("../fonts/georgiab.svg#Helvetica") format("svg");
  font-weight: 800;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiai.eot?") format("eot"), url("../fonts/georgiai.otf") format("opentype"), url("../fonts/georgiai.woff") format("woff"), url("../fonts/georgiai.ttf") format("truetype"), url("../fonts/georgiai.svg#Helvetica") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiaz.eot?") format("eot"), url("../fonts/georgiaz.otf") format("opentype"), url("../fonts/georgiaz.woff") format("woff"), url("../fonts/georgiaz.ttf") format("truetype"), url("../fontsgeorgiaz.svg#Helvetica") format("svg");
  font-weight: 800;
  font-style: italic;
}
/*
 * Client login image
 */
/* line 11, ../sass/navigation.scss */
#client-login a {
  display: block;
  background-image: url(../images/login.png);
  background-repeat: no-repeat;
  left: 0;
  cursor: pointer;
  height: 35px;
  overflow: hidden;
  text-indent: -999px;
  top: 0;
  width: 34px;
  z-index: 9;
}

/* line 12, ../sass/navigation.scss */
div#client-login {
  bottom: 0;
  position: fixed;
  left: 0px;
}

/*
 * Markup generated by theme_menu_tree().
 */
/* line 17, ../sass/navigation.scss */
ul li.expanded {
  list-style-type: circle;
}

/* line 20, ../sass/navigation.scss */
ul li.collapsed {
  list-style-type: disc;
}

/* line 23, ../sass/navigation.scss */
ul li.leaf {
  list-style-type: square;
}

/*
 * The active item in a Drupal menu
 */
/* line 31, ../sass/navigation.scss */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
/* line 39, ../sass/navigation.scss */
#navigation {
  /* overflow: hidden; */
  /* Sometimes you want to prevent overlapping with main div. */
}
/* line 42, ../sass/navigation.scss */
#navigation .block {
  margin-bottom: 0;
}
/* line 46, ../sass/navigation.scss */
#navigation .block-menu .block-title,
#navigation .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 51, ../sass/navigation.scss */
#navigation ul.links,
#navigation ul.menu {
  /* Menu block links */
  margin: 0;
  padding: 0;
  text-align: left;
  /* LTR */
}
/* line 57, ../sass/navigation.scss */
#navigation ul.links li,
#navigation ul.menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: left;
  /* LTR */
  padding: 0 10px 0 0;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}

/*
 * Main menu and Secondary menu links
 */
/* line 76, ../sass/navigation.scss */
#secondary-menu {
  float: right;
  /* LTR */
}

/*====================== Global menu css ==========================*/
/*======================== block-tb-megamenu-main-menu related css ============================*/
/* line 85, ../sass/navigation.scss */
#block-tb-megamenu-main-menu {
  width: auto;
  float: right;
  width: 100%;
  margin-top: 75px;
}
/* line 90, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu {
  background: none;
}
/* line 92, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav {
  width: auto;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  background: none;
  border: none;
  background: none;
  max-height: 67px;
  height: auto;
  float: none;
}
/* line 103, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li {
  color: #fff;
  float: left;
  background: none;
  border: none;
  width: auto;
}
/* line 109, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li > a {
  border: none;
  background: none;
  margin: 0;
  color: #413000;
  line-height: normal;
  text-decoration: none;
  padding: 32px 20px 45px;
  font-size: 13px;
  line-height: normal;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 122, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li > a:hover, #block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li > a.active {
  background: #455360;
  color: #aebbc2;
}
/* line 127, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li.footer-display {
  display: none;
}
/* line 130, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li .caret {
  display: none;
}
/* line 133, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li > .mega-dropdown-menu {
  left: -175px;
  width: 760px !important;
  background: #fff;
  border: none;
  padding: 15px 0;
  display: block !important;
  box-shadow: 0 3px 3px 0 rgba(92, 81, 71, 0.3) inset;
}
/* line 141, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li > .mega-dropdown-menu .mega-group-title {
  font-weight: 600;
  color: #413000;
  text-decoration: none;
  margin: 10px 0;
  padding: 0;
  font-size: 13px;
  text-transform: capitalize;
  padding: 0 15px;
}
/* line 150, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li > .mega-dropdown-menu .mega-group-title:hover {
  background: none !important;
}
/* line 154, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .tb-megamenu-nav > li > .mega-dropdown-menu .tb-megamenu-column-inner {
  padding: 0;
}
/* line 161, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .dropdown-menu li > a {
  clear: both;
  color: #413000;
  display: block;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  text-shadow: none;
  padding: 5px 15px;
  border: none;
}
/* line 172, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .dropdown-menu li > a:hover {
  background: #455360;
  color: #aebbc2;
}
/* line 177, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .dropdown-menu li.active > a {
  background: #455360;
  color: #aebbc2;
}
/* line 181, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .dropdown-menu li.active .mega-group-title {
  background: none;
  color: #413000;
}
/* line 185, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .row-fluid [class*="span"] {
  margin: 0;
}
/* line 188, ../sass/navigation.scss */
#block-tb-megamenu-main-menu .tb-megamenu .row-fluid .span3 {
  width: 25%;
}

/*======================== block-menu-block-3 related css ============================*/
/* line 194, ../sass/navigation.scss */
#block-menu-block-3 {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 120px;
  padding-top: 24px;
}
/* line 200, ../sass/navigation.scss */
#block-menu-block-3 ul {
  padding: 0;
  margin: 0;
}
/* line 203, ../sass/navigation.scss */
#block-menu-block-3 ul li {
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #fff;
  float: none;
  line-height: 13px;
  list-style: outside none none;
  padding: 0 7px 0 10px;
}
/* line 210, ../sass/navigation.scss */
#block-menu-block-3 ul li.first {
  border: none;
}
/* line 213, ../sass/navigation.scss */
#block-menu-block-3 ul li a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 218, ../sass/navigation.scss */
#block-menu-block-3 ul li a:hover, #block-menu-block-3 ul li a.active {
  color: #bba464;
}
/* line 222, ../sass/navigation.scss */
#block-menu-block-3 ul li ul {
  display: none;
}

@media all and (min-width: 768px) {
  /* line 230, ../sass/navigation.scss */
  #block-menu-block-3 {
    padding-top: 30px;
  }
  /* line 232, ../sass/navigation.scss */
  #block-menu-block-3 ul {
    padding: 0;
    margin: 0;
  }
  /* line 235, ../sass/navigation.scss */
  #block-menu-block-3 ul li {
    padding: 0 10px 0 15px;
  }
}
