/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgia.eot?") format("eot"), url("../fonts/georgia.otf") format("opentype"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype"), url("../fonts/georgia.svg#Helvetica") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiab.eot?") format("eot"), url("../fonts/georgiab.otf") format("opentype"), url("../fonts/georgiab.woff") format("woff"), url("../fonts/georgiab.ttf") format("truetype"), url("../fonts/georgiab.svg#Helvetica") format("svg");
  font-weight: 800;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiai.eot?") format("eot"), url("../fonts/georgiai.otf") format("opentype"), url("../fonts/georgiai.woff") format("woff"), url("../fonts/georgiai.ttf") format("truetype"), url("../fonts/georgiai.svg#Helvetica") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiaz.eot?") format("eot"), url("../fonts/georgiaz.otf") format("opentype"), url("../fonts/georgiaz.woff") format("woff"), url("../fonts/georgiaz.ttf") format("truetype"), url("../fontsgeorgiaz.svg#Helvetica") format("svg");
  font-weight: 800;
  font-style: italic;
}
/*
 * Body
 */
/*========================= Global css ===============================*/
/* line 18, ../sass/pages.scss */
* {
  box-sizing: border-box;
}

/* line 21, ../sass/pages.scss */
body {
  padding: 0;
  margin: 0;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

/* line 30, ../sass/pages.scss */
a, img {
  outline: none !important;
}

/* line 33, ../sass/pages.scss */
#skip-link {
  margin: 0;
}

/* line 36, ../sass/pages.scss */
#page {
  width: 100%;
}

/* line 39, ../sass/pages.scss */
#_atssh {
  display: none;
}

/* line 42, ../sass/pages.scss */
a {
  color: #53738e;
}
/* line 44, ../sass/pages.scss */
a:hover {
  text-decoration: none;
}

/* line 49, ../sass/pages.scss */
#at15s .atm-f {
  height: auto !important;
}

/*============================ main wrapper css ===================================*/
/* line 54, ../sass/pages.scss */
#header-top, #header, #mast-cycle, #top-cta-wrap, #form-home-wrap, #main-wrapper, #gonyon-wrap, #gallery-blog-wrap, .reviews-wrap, #logo-slider, #footer-wrap, #bottom-wrap, #bottm_menu {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

/*============================ max-width 1170 wrapper css ===================================*/
/* line 59, ../sass/pages.scss */
.region-header, .header-inner, .region-top-cta, .region-form-home, #main, .region-gonyon, .region-gallery-blog, .region-reviews, .region-logo-slider, .region-footer, .region-bottom, .region-bottom-menu {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 18px;
}

/* line 64, ../sass/pages.scss */
.region-header {
  padding: 0;
  position: relative;
}

/*============================ header-top css ===================================*/
/* line 69, ../sass/pages.scss */
#header-top {
  background: #455360;
  padding: 7px 0 8px;
}

/*============================ header-top css ===================================*/
/* line 74, ../sass/pages.scss */
#header {
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(92, 81, 71, 0.3);
  -moz-box-shadow: 0px 3px 3px 0px rgba(92, 81, 71, 0.3);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(92, 81, 71, 0.3);
  z-index: 8;
  text-align: center;
  position: relative;
}

/*============================ header-top css ===================================*/
/* line 84, ../sass/pages.scss */
#navigation {
  display: none;
}

/*============================ top-cta-wrap css ===================================*/
/* line 88, ../sass/pages.scss */
#top-cta-wrap {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b7140+0,917641+3,9b7f4d+8,a08550+10,a78b5b+13,b7a06e+20,c3a879+24,ceb688+30,d7bf91+36,d7bf91+46,d1b98b+59,b59969+94,af9562+99,b09462+100,b39968+100 */
  background: #8b7140;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8b7140 0%, #917641 3%, #9b7f4d 8%, #a08550 10%, #a78b5b 13%, #b7a06e 20%, #c3a879 24%, #ceb688 30%, #d7bf91 36%, #d7bf91 46%, #d1b98b 59%, #b59969 94%, #af9562 99%, #b09462 100%, #b39968 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8b7140), color-stop(3%, #917641), color-stop(8%, #9b7f4d), color-stop(10%, #a08550), color-stop(13%, #a78b5b), color-stop(20%, #b7a06e), color-stop(24%, #c3a879), color-stop(30%, #ceb688), color-stop(36%, #d7bf91), color-stop(46%, #d7bf91), color-stop(59%, #d1b98b), color-stop(94%, #b59969), color-stop(99%, #af9562), color-stop(100%, #b09462), color-stop(100%, #b39968));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8b7140 0%, #917641 3%, #9b7f4d 8%, #a08550 10%, #a78b5b 13%, #b7a06e 20%, #c3a879 24%, #ceb688 30%, #d7bf91 36%, #d7bf91 46%, #d1b98b 59%, #b59969 94%, #af9562 99%, #b09462 100%, #b39968 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8b7140 0%, #917641 3%, #9b7f4d 8%, #a08550 10%, #a78b5b 13%, #b7a06e 20%, #c3a879 24%, #ceb688 30%, #d7bf91 36%, #d7bf91 46%, #d1b98b 59%, #b59969 94%, #af9562 99%, #b09462 100%, #b39968 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8b7140 0%, #917641 3%, #9b7f4d 8%, #a08550 10%, #a78b5b 13%, #b7a06e 20%, #c3a879 24%, #ceb688 30%, #d7bf91 36%, #d7bf91 46%, #d1b98b 59%, #b59969 94%, #af9562 99%, #b09462 100%, #b39968 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8b7140 0%, #917641 3%, #9b7f4d 8%, #a08550 10%, #a78b5b 13%, #b7a06e 20%, #c3a879 24%, #ceb688 30%, #d7bf91 36%, #d7bf91 46%, #d1b98b 59%, #b59969 94%, #af9562 99%, #b09462 100%, #b39968 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b7140', endColorstr='#b39968',GradientType=0 );
  /* IE6-9 */
}

/*============================ form-home-wrap css ===================================*/
/* line 100, ../sass/pages.scss */
#form-home-wrap {
  background: #445360 url(../images/form-bg-latest.jpg) repeat-y center top;
}

/*============================ main-wrapper css ===================================*/
/* line 104, ../sass/pages.scss */
#main-wrapper {
  background: #edf0f1 url(../images/main-bg-latest1.jpg) repeat-y center top;
  position: relative;
  padding-top: 50px;
}

/*============================ gonyon-wrap css ===================================*/
/* line 110, ../sass/pages.scss */
#gonyon-wrap {
  background: #937843;
  /* Old browsers */
  background: -moz-linear-gradient(top, #937843 0%, #937843 4%, #997e49 7%, #a28654 11%, #bfa574 21%, #cab284 25%, #cdb283 26%, #ccb685 27%, #cfb485 27%, #ceb688 27%, #d2ba8c 29%, #d7bf91 33%, #d7bf91 41%, #d1b98b 53%, #d0b888 53%, #cdb283 59%, #c7af7f 63%, #c9ae7f 64%, #c3a879 69%, #c1aa78 69%, #c1a677 70%, #bda674 73%, #b59b68 82%, #b59b6a 83%, #b19563 89%, #ae9461 90%, #a98d5b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #937843), color-stop(4%, #937843), color-stop(7%, #997e49), color-stop(11%, #a28654), color-stop(21%, #bfa574), color-stop(25%, #cab284), color-stop(26%, #cdb283), color-stop(27%, #ccb685), color-stop(27%, #cfb485), color-stop(27%, #ceb688), color-stop(29%, #d2ba8c), color-stop(33%, #d7bf91), color-stop(41%, #d7bf91), color-stop(53%, #d1b98b), color-stop(53%, #d0b888), color-stop(59%, #cdb283), color-stop(63%, #c7af7f), color-stop(64%, #c9ae7f), color-stop(69%, #c3a879), color-stop(69%, #c1aa78), color-stop(70%, #c1a677), color-stop(73%, #bda674), color-stop(82%, #b59b68), color-stop(83%, #b59b6a), color-stop(89%, #b19563), color-stop(90%, #ae9461), color-stop(100%, #a98d5b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #937843 0%, #937843 4%, #997e49 7%, #a28654 11%, #bfa574 21%, #cab284 25%, #cdb283 26%, #ccb685 27%, #cfb485 27%, #ceb688 27%, #d2ba8c 29%, #d7bf91 33%, #d7bf91 41%, #d1b98b 53%, #d0b888 53%, #cdb283 59%, #c7af7f 63%, #c9ae7f 64%, #c3a879 69%, #c1aa78 69%, #c1a677 70%, #bda674 73%, #b59b68 82%, #b59b6a 83%, #b19563 89%, #ae9461 90%, #a98d5b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #937843 0%, #937843 4%, #997e49 7%, #a28654 11%, #bfa574 21%, #cab284 25%, #cdb283 26%, #ccb685 27%, #cfb485 27%, #ceb688 27%, #d2ba8c 29%, #d7bf91 33%, #d7bf91 41%, #d1b98b 53%, #d0b888 53%, #cdb283 59%, #c7af7f 63%, #c9ae7f 64%, #c3a879 69%, #c1aa78 69%, #c1a677 70%, #bda674 73%, #b59b68 82%, #b59b6a 83%, #b19563 89%, #ae9461 90%, #a98d5b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #937843 0%, #937843 4%, #997e49 7%, #a28654 11%, #bfa574 21%, #cab284 25%, #cdb283 26%, #ccb685 27%, #cfb485 27%, #ceb688 27%, #d2ba8c 29%, #d7bf91 33%, #d7bf91 41%, #d1b98b 53%, #d0b888 53%, #cdb283 59%, #c7af7f 63%, #c9ae7f 64%, #c3a879 69%, #c1aa78 69%, #c1a677 70%, #bda674 73%, #b59b68 82%, #b59b6a 83%, #b19563 89%, #ae9461 90%, #a98d5b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #937843 0%, #937843 4%, #997e49 7%, #a28654 11%, #bfa574 21%, #cab284 25%, #cdb283 26%, #ccb685 27%, #cfb485 27%, #ceb688 27%, #d2ba8c 29%, #d7bf91 33%, #d7bf91 41%, #d1b98b 53%, #d0b888 53%, #cdb283 59%, #c7af7f 63%, #c9ae7f 64%, #c3a879 69%, #c1aa78 69%, #c1a677 70%, #bda674 73%, #b59b68 82%, #b59b6a 83%, #b19563 89%, #ae9461 90%, #a98d5b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937843', endColorstr='#a98d5b',GradientType=0 );
  /* IE6-9 */
}

/*============================ gallery-blog-wrap css ===================================*/
/* line 121, ../sass/pages.scss */
#gallery-blog-wrap {
  background: #edf0f1 url(../images/before-after-bg.jpg) repeat-y center top;
}

/*============================ reviews-wrap css ===================================*/
/* line 125, ../sass/pages.scss */
.reviews-wrap {
  background: #445360 url(../images/reviews-bg.jpg) repeat-y center top;
}

/*============================ logo-slider css ===================================*/
/* line 129, ../sass/pages.scss */
#logo-slider {
  background: #edf0f1 url(../images/logo-slider-bg.jpg) repeat-y center top;
}

/* line 133, ../sass/pages.scss */
.not-front #logo-slider {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#243551+0,214261+34,234261+46,21435f+46,234060+58,21405d+60,233a59+83,223a56+84,233752+100 */
  background: #243551;
  /* Old browsers */
  background: -moz-linear-gradient(top, #243551 0%, #214261 34%, #234261 46%, #21435f 46%, #234060 58%, #21405d 60%, #233a59 83%, #223a56 84%, #233752 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #243551), color-stop(34%, #214261), color-stop(46%, #234261), color-stop(46%, #21435f), color-stop(58%, #234060), color-stop(60%, #21405d), color-stop(83%, #233a59), color-stop(84%, #223a56), color-stop(100%, #233752));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #243551 0%, #214261 34%, #234261 46%, #21435f 46%, #234060 58%, #21405d 60%, #233a59 83%, #223a56 84%, #233752 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #243551 0%, #214261 34%, #234261 46%, #21435f 46%, #234060 58%, #21405d 60%, #233a59 83%, #223a56 84%, #233752 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #243551 0%, #214261 34%, #234261 46%, #21435f 46%, #234060 58%, #21405d 60%, #233a59 83%, #223a56 84%, #233752 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #243551 0%, #214261 34%, #234261 46%, #21435f 46%, #234060 58%, #21405d 60%, #233a59 83%, #223a56 84%, #233752 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243551', endColorstr='#233752',GradientType=0 );
  /* IE6-9 */
}

/*============================ footer-wrap css ===================================*/
/* line 146, ../sass/pages.scss */
#footer-wrap {
  background: #2e3a41 url(../images/address-bg-latest.jpg) repeat-y center top;
  position: relative;
}

/*============================ bottom-wrap css ===================================*/
/* line 151, ../sass/pages.scss */
#bottom-wrap {
  background: #445360;
}

/*============================ bottm_menu css ===================================*/
/* line 155, ../sass/pages.scss */
#bottm_menu {
  background: #2e3a41 url(../images/footer-menu-bg.jpg) no-repeat center top;
}

/*============================ logo css ===================================*/
/* line 159, ../sass/pages.scss */
#logo {
  display: inline-block;
  vertical-align: top;
  padding: 12px 0;
  max-width: 100%;
  line-height: 0;
}

/* line 165, ../sass/pages.scss */
#content {
  width: 100%;
  max-width: 100%;
  float: left;
  margin-bottom: 20px;
}
/* line 170, ../sass/pages.scss */
#content h1#page-title {
  font-size: 22px;
  line-height: 30px;
  color: #53738e;
  font-weight: 400;
  font-family: 'georgia', sans-serif;
  margin: 0;
  text-align: center;
}
/* line 178, ../sass/pages.scss */
#content h1#page-title:first-letter {
  text-transform: uppercase;
}
/* line 182, ../sass/pages.scss */
#content h2, #content h3, #content h4 {
  font-size: 18px;
  line-height: normal;
  color: #53738e;
  font-weight: 400;
  margin: 0 0 4px;
}
/* line 189, ../sass/pages.scss */
#content h1#page-title + h2 {
  color: #565656;
  display: block;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 22px;
  width: 100%;
  text-align: center;
}
/* line 197, ../sass/pages.scss */
#content h1#page-title + h2:first-letter {
  text-transform: uppercase;
}
/* line 201, ../sass/pages.scss */
#content p {
  font-size: 14px;
  color: #565656;
  line-height: 24px;
  margin: 0 0 25px;
}
/* line 207, ../sass/pages.scss */
#content div {
  font-size: 14px;
  color: #565656;
  line-height: 24px;
}
/* line 211, ../sass/pages.scss */
#content div#content-text {
  margin-bottom: 25px;
}
/* line 215, ../sass/pages.scss */
#content strong {
  font-size: 14px;
  color: #565656;
  line-height: 30px;
}
/* line 220, ../sass/pages.scss */
#content ul {
  padding: 0 0 0 40px;
  margin: 0 0 30px;
}
/* line 223, ../sass/pages.scss */
#content ul li {
  font-size: 14px;
  color: #565656;
  line-height: 24px;
  list-style: square;
}
/* line 229, ../sass/pages.scss */
#content ul.inline {
  padding: 0;
  margin: 0 0 5px;
}
/* line 232, ../sass/pages.scss */
#content ul.inline li {
  padding: 0;
  list-style: none;
  background: none;
}
/* line 238, ../sass/pages.scss */
#content ul.contextual-links {
  display: none;
  padding: 0;
}
/* line 241, ../sass/pages.scss */
#content ul.contextual-links li {
  padding: 0;
  background: none;
}
/* line 247, ../sass/pages.scss */
#content ol {
  padding: 0 0 0 40px;
  margin: 0 0 30px;
}
/* line 250, ../sass/pages.scss */
#content ol li {
  font-size: 15px;
  color: #565656;
  line-height: 30px;
  padding-left: 10px;
}
/* line 257, ../sass/pages.scss */
#content a {
  color: #53738e;
  font-size: 14px;
}
/* line 260, ../sass/pages.scss */
#content a:hover {
  text-decoration: none;
}
/* line 264, ../sass/pages.scss */
#content img {
  max-width: 100%;
  margin: 10px auto;
  float: none;
  display: block;
}
/* line 270, ../sass/pages.scss */
#content iframe {
  max-width: 100%;
}
/* line 274, ../sass/pages.scss */
#content #contact .contact-header {
  font-size: 18px;
  line-height: normal;
  color: #53738e;
  font-weight: 400;
  margin: 0 0 10px;
  display: block;
}
/* line 282, ../sass/pages.scss */
#content #contact iframe {
  height: 420px;
}

/*============================ region-sidebar-second css ===================================*/
/* line 288, ../sass/pages.scss */
.region-sidebar-second {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

@media all and (min-width: 767px) {
  /* line 295, ../sass/pages.scss */
  #content h2, #content h3, #content h4 {
    font-size: 20px;
  }
  /* line 298, ../sass/pages.scss */
  #content h1#page-title {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 5px;
  }
  /* line 303, ../sass/pages.scss */
  #content img.alignleft {
    float: left;
    margin: 5px 20px 20px 0 !important;
  }
  /* line 307, ../sass/pages.scss */
  #content img.alignright {
    float: left;
    margin: 5px 0 20px 20px !important;
  }
  /* line 311, ../sass/pages.scss */
  #content img.aligncenter {
    display: block;
    margin: 10px auto !important;
    float: none !important;
  }
  /* line 316, ../sass/pages.scss */
  #content img.blockImg {
    display: block;
    width: auto;
    margin: 5px 0;
  }
}
@media all and (min-width: 1100px) {
  /* line 325, ../sass/pages.scss */
  .region-header, .header-inner, .region-top-cta, .region-form-home, #main, .region-gonyon, .region-gallery-blog, .region-reviews, .region-logo-slider, .region-footer, .region-bottom, .region-bottom-menu {
    padding: 0;
  }

  /* line 328, ../sass/pages.scss */
  #logo {
    float: left;
  }

  /* line 331, ../sass/pages.scss */
  #navigation {
    display: block;
    float: right;
    background: none;
    height: auto;
  }

  /* line 337, ../sass/pages.scss */
  .region-sidebar-second {
    float: right;
    max-width: 288px;
  }

  /* line 342, ../sass/pages.scss */
  .not-front .region-sidebar-second {
    float: right;
    max-width: 302px;
  }

  /* line 347, ../sass/pages.scss */
  #content {
    max-width: 760px;
    float: left;
  }

  /* line 351, ../sass/pages.scss */
  #footer-wrap {
    background-position: center -70px;
  }
}
