/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It is suggested that you read through the normalize.css file and customise it
   to meet the design requirements of a project rather including it as a "black
   box". @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgia.eot?") format("eot"), url("../fonts/georgia.otf") format("opentype"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype"), url("../fonts/georgia.svg#Helvetica") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiab.eot?") format("eot"), url("../fonts/georgiab.otf") format("opentype"), url("../fonts/georgiab.woff") format("woff"), url("../fonts/georgiab.ttf") format("truetype"), url("../fonts/georgiab.svg#Helvetica") format("svg");
  font-weight: 800;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiai.eot?") format("eot"), url("../fonts/georgiai.otf") format("opentype"), url("../fonts/georgiai.woff") format("woff"), url("../fonts/georgiai.ttf") format("truetype"), url("../fonts/georgiai.svg#Helvetica") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiaz.eot?") format("eot"), url("../fonts/georgiaz.otf") format("opentype"), url("../fonts/georgiaz.woff") format("woff"), url("../fonts/georgiaz.ttf") format("truetype"), url("../fontsgeorgiaz.svg#Helvetica") format("svg");
  font-weight: 800;
  font-style: italic;
}
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 21, ../sass/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 40, ../sass/normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 55, ../sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 65, ../sass/normalize.scss */
[hidden] {
  display: none;
}

/* line 71, ../sass/normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establishes a vertical rhythm unit using $base-line-height. */
  line-height: 1.5em;
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 83, ../sass/normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 108, ../sass/normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 117, ../sass/normalize.scss */
a:hover,
a:active {
  outline: 0;
}
