/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgia.eot?") format("eot"), url("../fonts/georgia.otf") format("opentype"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype"), url("../fonts/georgia.svg#Helvetica") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiab.eot?") format("eot"), url("../fonts/georgiab.otf") format("opentype"), url("../fonts/georgiab.woff") format("woff"), url("../fonts/georgiab.ttf") format("truetype"), url("../fonts/georgiab.svg#Helvetica") format("svg");
  font-weight: 800;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiai.eot?") format("eot"), url("../fonts/georgiai.otf") format("opentype"), url("../fonts/georgiai.woff") format("woff"), url("../fonts/georgiai.ttf") format("truetype"), url("../fonts/georgiai.svg#Helvetica") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'georgia', sans-serif;
  src: url("../fonts/georgiaz.eot?") format("eot"), url("../fonts/georgiaz.otf") format("opentype"), url("../fonts/georgiaz.woff") format("woff"), url("../fonts/georgiaz.ttf") format("truetype"), url("../fontsgeorgiaz.svg#Helvetica") format("svg");
  font-weight: 800;
  font-style: italic;
}
@media print {
  /* line 13, ../sass/print.scss */
  a:link,
  a:visited {
    /* underline all links */
    text-decoration: underline !important;
  }
  /* line 17, ../sass/print.scss */
  #site-name a:link, #site-name
  a:visited {
    /* Don't underline header */
    text-decoration: none !important;
  }

  /* line 23, ../sass/print.scss */
  #content a[href]:after {
    /* Add visible URL after links. */
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  /* line 29, ../sass/print.scss */
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    /* Only display useful links. */
    content: "";
  }
  /* line 34, ../sass/print.scss */
  #content abbr[title]:after {
    /* Add visible title after abbreviations. */
    content: " (" attr(title) ")";
  }

  /* line 39, ../sass/print.scss */
  #content {
    /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* line 46, ../sass/print.scss */
  body,
  #page,
  #main,
  #content {
    /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* line 55, ../sass/print.scss */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }
}
/* End @media print */
