/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 0;
}

/* line 12, ../sass/blocks.scss */
* {
  -moz-font-smoothing: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../sass/blocks.scss */
input[type="text"], input[type="password"], select, textarea {
  max-width: 350px;
  outline: none;
  width: 100%;
  height: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #c9cacc;
  padding: 5px;
  color: #828282;
  outline: none;
}

/* line 16, ../sass/blocks.scss */
input[type="submit"] {
  width: 171px;
  height: 45px;
  border: none;
  padding: 0 20px 0 23px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  background: #5ca0a5;
}
/* line 17, ../sass/blocks.scss */
input[type="submit"]:hover {
  background: #343434;
  color: #fff;
}

/* line 19, ../sass/blocks.scss */
div.messages {
  background: #E3F2F3;
  padding: 15px;
  border: 1px solid #5CA0A5;
  color: #00283e;
}

/* line 20, ../sass/blocks.scss */
#page {
  max-width: 100%;
  margin: 0 auto;
}

/*=================================Header css start here================================*/
/* line 23, ../sass/blocks.scss */
#header {
  max-width: 1100px;
  margin: 0 auto;
}
/* line 68, ../sass/_custom.scss */
#header:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 69, ../sass/_custom.scss */
#header:before {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

/* line 24, ../sass/blocks.scss */
.region-header {
  float: right;
  max-width: 378px;
  width: 100%;
  clear: none;
  margin-right: 33px;
  position: relative;
}
/* line 68, ../sass/_custom.scss */
.region-header:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 69, ../sass/_custom.scss */
.region-header:before {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

/* line 25, ../sass/blocks.scss */
#block-block-6 {
  color: #2e5c6d;
  font-size: 16px;
  padding-top: 24px;
  text-align: right;
}
/* line 26, ../sass/blocks.scss */
#block-block-6 .address {
  text-transform: capitalize;
  line-height: normal;
}
/* line 28, ../sass/blocks.scss */
#block-block-6 .address a {
  color: #2e5c6d;
  text-decoration: none;
}
/* line 29, ../sass/blocks.scss */
#block-block-6 .address .tel a {
  color: #fff;
}
/* line 31, ../sass/blocks.scss */
#block-block-6 .contact-number {
  float: right;
  width: 100%;
  text-align: left;
  max-width: 229px;
  margin: 7px 0;
  color: #000000;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
}
/* line 32, ../sass/blocks.scss */
#block-block-6 .contact-number a {
  color: #000000;
  text-decoration: none;
}
/* line 33, ../sass/blocks.scss */
#block-block-6 .search-icon {
  width: 23px;
  float: right;
  cursor: pointer;
  height: 23px;
  background: url("../images/search-icon.png") no-repeat;
  display: inline-block;
  margin-left: 0;
}
/* line 34, ../sass/blocks.scss */
#block-block-6 .email-id, #block-block-6 .email-id a {
  color: #2e5c6d;
  text-decoration: none;
  text-align: left;
  max-width: 229px;
  clear: right;
  float: right;
  width: 100%;
}

/* line 37, ../sass/blocks.scss */
#block-block-4 .share {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}
/* line 38, ../sass/blocks.scss */
#block-block-4 .addthis_sharing_toolbox {
  display: inline-block;
}

/*=======================Main search icon start here============================*/
/* line 41, ../sass/blocks.scss */
#block-search-form {
  float: right;
  position: absolute;
  top: 101px;
  right: 0;
  z-index: 991;
  width: 211px;
  height: 42px;
  background: #00283e;
  border: 1px solid #f2f5f5;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 10px #525252;
  -moz-box-shadow: 0 0 10px #525252;
  -webkit-box-shadow: 0 0 10px #525252;
  line-height: 0;
  padding: 6px;
  display: none;
}
/* line 42, ../sass/blocks.scss */
#block-search-form #search-block-form {
  background: #00283e;
  border: 1px solid #dddddd;
  box-shadow: 0 0 5px #606060 inset;
  -moz-box-shadow: 0 0 5px #606060 inset;
  -webkit-box-shadow: 0 0 5px #606060 inset;
  width: 196px;
  height: 27px;
  box-sizing: border-box;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  position: relative;
}
/* line 55, ../sass/blocks.scss */
#block-search-form #search-block-form .form-item {
  margin: 0;
}
/* line 58, ../sass/blocks.scss */
#block-search-form #search-block-form .form-text {
  width: 100%;
  border: none;
  background: #00283e;
  border-radius: 15px;
  font-size: 11px;
  height: 25px;
  color: #fff;
  padding: 4px 22px 4px 10px;
  box-sizing: border-box;
}
/* line 69, ../sass/blocks.scss */
#block-search-form #search-block-form .form-submit {
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
  font-size: 0;
  width: 22px;
  height: 25px;
  padding: 0;
  background: url(../images/submit.png) no-repeat 3px 6px;
  cursor: pointer;
}
/* line 81, ../sass/blocks.scss */
#block-search-form #search-block-form:before {
  border-bottom: 10px solid #f2f5f5;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  height: 0;
  left: 180px;
  position: absolute;
  top: -18px;
  width: 0;
}
/* line 92, ../sass/blocks.scss */
#block-search-form #search-block-form:after {
  border-bottom: 8px solid #1e3747;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  left: 182px;
  position: absolute;
  top: -15px;
  width: 0;
  z-index: 9;
}

/* line 107, ../sass/blocks.scss */
#logo {
  margin: 27px 0 37px 0;
}

/* line 109, ../sass/blocks.scss */
#navigation {
  background: #165269;
  border-top: 1px solid #9eb3bb;
}
/* line 68, ../sass/_custom.scss */
#navigation:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 69, ../sass/_custom.scss */
#navigation:before {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

/* line 110, ../sass/blocks.scss */
#block-nice-menus-2 {
  max-width: 1100px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 18px;
  display: block !important;
  float: none;
  text-align: center;
}
/* line 111, ../sass/blocks.scss */
#block-nice-menus-2 ul {
  border: none;
  background: none;
  float: none;
  padding: 22px 0;
  margin: 4px 0;
}
/* line 112, ../sass/blocks.scss */
#block-nice-menus-2 ul > li {
  background: none;
  border: none;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}
/* line 113, ../sass/blocks.scss */
#block-nice-menus-2 ul > li a {
  color: #fff;
  text-decoration: none;
  margin: 0 28px;
  padding: 0;
  line-height: 16px;
}
/* line 114, ../sass/blocks.scss */
#block-nice-menus-2 ul > li a.active {
  text-decoration: underline;
}
/* line 115, ../sass/blocks.scss */
#block-nice-menus-2 ul > li a:hover {
  text-decoration: underline;
}
/* line 117, ../sass/blocks.scss */
#block-nice-menus-2 ul > li.menu-path-node-17 {
  border-right: none;
}
/* line 117, ../sass/blocks.scss */
#block-nice-menus-2 ul > li.menu-path-node-17 a {
  margin-right: 0;
}
/* line 118, ../sass/blocks.scss */
#block-nice-menus-2 ul > li.menuparent > a {
  padding: 0;
}
/* line 119, ../sass/blocks.scss */
#block-nice-menus-2 ul > li.menu-path-user-login, #block-nice-menus-2 ul > li.menu-path-sitemap {
  display: none;
}
/* line 121, ../sass/blocks.scss */
#block-nice-menus-2 ul ul {
  background: #165269;
  text-align: left;
  padding: 0;
  top: 40px;
  margin: 0;
  font-size: 14px;
}
/* line 122, ../sass/blocks.scss */
#block-nice-menus-2 ul ul li {
  border: none;
  border-top: 1px solid #9eb3bb;
  padding: 8px 0;
}
/* line 122, ../sass/blocks.scss */
#block-nice-menus-2 ul ul li a {
  padding: 0 8px;
  margin: 0;
}
/* line 122, ../sass/blocks.scss */
#block-nice-menus-2 ul ul li:first-child {
  border-top: none;
}
/* line 123, ../sass/blocks.scss */
#block-nice-menus-2 ul ul ul {
  top: 0;
}

/* line 128, ../sass/blocks.scss */
#block-nice-menus-1 {
  max-width: 1100px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 14px;
  display: block !important;
  float: none;
  text-align: left;
}
/* line 129, ../sass/blocks.scss */
#block-nice-menus-1 ul {
  border: none;
  background: none;
  float: none;
  padding: 25px 0;
}
/* line 130, ../sass/blocks.scss */
#block-nice-menus-1 ul > li {
  background: none;
  border: none;
  float: none;
  display: inline-block;
  border-right: 1px solid #000;
}
/* line 131, ../sass/blocks.scss */
#block-nice-menus-1 ul > li a {
  color: #000000;
  text-decoration: none;
  margin: 0 28px;
  padding: 0;
}
/* line 132, ../sass/blocks.scss */
#block-nice-menus-1 ul > li a.active {
  text-decoration: underline;
}
/* line 133, ../sass/blocks.scss */
#block-nice-menus-1 ul > li a:hover {
  text-decoration: underline;
}
/* line 135, ../sass/blocks.scss */
#block-nice-menus-1 ul > li.first a {
  margin: 0 23px 0 0;
}
/* line 136, ../sass/blocks.scss */
#block-nice-menus-1 ul > li.last {
  border-right: none;
}
/* line 136, ../sass/blocks.scss */
#block-nice-menus-1 ul > li.last a {
  margin: 0 0 0 23px;
}
/* line 138, ../sass/blocks.scss */
#block-nice-menus-1 ul ul {
  display: none;
}

/* line 143, ../sass/blocks.scss */
.flexslider {
  margin: 0;
  background: none;
  border: none;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
}

/* line 151, ../sass/blocks.scss */
#block-views-mast-cycle-block {
  border-bottom: 16px solid #5ca0a5;
  background: #5ca0a5;
}
/* line 152, ../sass/blocks.scss */
#block-views-mast-cycle-block p {
  margin: 21px 0;
}
/* line 153, ../sass/blocks.scss */
#block-views-mast-cycle-block .slider-content {
  max-width: 60%;
  width: 100%;
  background: rgba(24, 75, 90, 0.9);
  position: absolute;
  left: 0;
  top: 60%;
}
/* line 154, ../sass/blocks.scss */
#block-views-mast-cycle-block .slider-content .field-content {
  max-width: 80%;
  width: 100%;
  float: right;
  color: #fff;
  margin-right: 4%;
  font-size: 27px;
  line-height: 35px;
  text-transform: uppercase;
}
/* line 156, ../sass/blocks.scss */
#block-views-mast-cycle-block .flex-control-nav {
  bottom: 8px;
  z-index: 2;
}
/* line 157, ../sass/blocks.scss */
#block-views-mast-cycle-block .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.98);
  width: 18px;
  height: 18px;
}
/* line 158, ../sass/blocks.scss */
#block-views-mast-cycle-block .flex-control-nav li a:hover, #block-views-mast-cycle-block .flex-control-nav li a.flex-active {
  background: #000;
  background: #959c9e;
  cursor: default;
}

/* line 166, ../sass/blocks.scss */
#block-block-15 {
  border-bottom: 16px solid #5ca0a5;
}
/* line 167, ../sass/blocks.scss */
#block-block-15 p {
  margin: 0;
}
/* line 168, ../sass/blocks.scss */
#block-block-15 img {
  max-width: 100%;
  height: auto !important;
  width: 100% !important;
}

/* line 170, ../sass/blocks.scss */
#block-views-association-logos-block-1, #block-views-association-logos-block {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding: 11px 0;
}
/* line 68, ../sass/_custom.scss */
#block-views-association-logos-block-1:after, #block-views-association-logos-block:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 69, ../sass/_custom.scss */
#block-views-association-logos-block-1:before, #block-views-association-logos-block:before {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 171, ../sass/blocks.scss */
#block-views-association-logos-block-1 .slick-prev, #block-views-association-logos-block .slick-prev {
  width: 21px;
  outline: none;
  text-indent: -9999px;
  color: transparent;
  height: 26px;
  background: url("../images/slider-arrow.png") no-repeat left top;
  border: none;
  float: left;
}
/* line 172, ../sass/blocks.scss */
#block-views-association-logos-block-1 .slick-next, #block-views-association-logos-block .slick-next {
  width: 21px;
  outline: none;
  text-indent: -9999px;
  color: transparent;
  height: 26px;
  background: url("../images/slider-arrow.png") no-repeat right top;
  border: none;
  float: right;
}
/* line 173, ../sass/blocks.scss */
#block-views-association-logos-block-1 .slick__arrow, #block-views-association-logos-block .slick__arrow {
  position: absolute;
  top: 38%;
  width: 100%;
  max-width: 1100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 174, ../sass/blocks.scss */
#block-views-association-logos-block-1 .slick-slider, #block-views-association-logos-block .slick-slider {
  max-width: 1043px;
  margin: 0 auto;
}

/* line 178, ../sass/blocks.scss */
#block-views-association-logos-block-1 {
  border-top: 28px solid #5ca0a5;
}

/* line 179, ../sass/blocks.scss */
#block-block-10 {
  background: #5ca0a5;
  padding: 37px 0;
}
/* line 180, ../sass/blocks.scss */
#block-block-10 p {
  margin: 0 auto;
  text-decoration: none;
  max-width: 1100px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 181, ../sass/blocks.scss */
#block-block-10 p a {
  max-width: 271px;
  text-decoration: none;
  margin: 0 0 0 -7px;
  position: relative;
  display: inline-block;
  border: 3px solid #fff;
}
/* line 182, ../sass/blocks.scss */
#block-block-10 p a:first-child {
  margin: 0;
}
/* line 183, ../sass/blocks.scss */
#block-block-10 p a span {
  display: block;
}
/* line 184, ../sass/blocks.scss */
#block-block-10 p a .title {
  background: #184b5e;
  padding: 8px 0;
  text-align: center;
  color: #f1f3f7;
  letter-spacing: 1px;
  font-size: 19px;
  text-transform: uppercase;
}
/* line 185, ../sass/blocks.scss */
#block-block-10 p a .img {
  line-height: 0px;
}
/* line 186, ../sass/blocks.scss */
#block-block-10 p a .content {
  display: none;
  position: absolute;
  top: 36px;
  color: #fff;
  width: 100%;
  height: 86%;
  background: rgba(24, 75, 94, 0.8);
  padding: 27px 27px 27px 47px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 187, ../sass/blocks.scss */
#block-block-10 p a .content span {
  display: list-item;
  list-style-type: disc;
}
/* line 188, ../sass/blocks.scss */
#block-block-10 p a .content br {
  display: none;
}
/* line 190, ../sass/blocks.scss */
#block-block-10 p a:hover .content {
  display: block;
}
/* line 191, ../sass/blocks.scss */
#block-block-10 p a:hover .title {
  background: #032a39;
}

/* line 197, ../sass/blocks.scss */
#block-block-15 p {
  line-height: 0;
}

/* line 200, ../sass/blocks.scss */
#main {
  max-width: 1100px;
  width: 100%;
  margin: 48px auto 38px;
  overflow: hidden;
}
/* line 201, ../sass/blocks.scss */
#main #content {
  max-width: 711px;
  width: 100%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 202, ../sass/blocks.scss */
#main #content ul ul {
  list-style: disc;
}
/* line 204, ../sass/blocks.scss */
#main .sidebars {
  max-width: 337px;
  width: 100%;
  float: right;
  margin-top: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 204, ../sass/blocks.scss */
#main .sidebars .block {
  margin-bottom: 20px;
}
/* line 205, ../sass/blocks.scss */
#main #block-block-4 {
  text-align: center;
  margin: 28px 0 35px;
}
/* line 206, ../sass/blocks.scss */
#main #block-block-7 {
  background: #184b5e;
}
/* line 207, ../sass/blocks.scss */
#main #block-block-7 .form-title {
  background: #fff url("../images/mini-form-img.png") no-repeat right top;
  border: 1px solid #000;
  border-bottom: none;
  height: 148px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 208, ../sass/blocks.scss */
#main #block-block-7 .title {
  font-size: 28px;
  line-height: 28px;
  color: #000000;
  display: block;
  margin: 45px 0 13px 15px;
}
/* line 209, ../sass/blocks.scss */
#main #block-block-7 .call-free {
  font-size: 18px;
  line-height: 18px;
  color: #184b5e;
  padding: 0 0 0 10px;
}
/* line 210, ../sass/blocks.scss */
#main #block-block-7 .call-free a {
  color: #184b5e;
  text-decoration: none;
}
/* line 211, ../sass/blocks.scss */
#main #block-block-7 .mini-form {
  padding: 10px 23px;
}
/* line 211, ../sass/blocks.scss */
#main #block-block-7 .mini-form iframe {
  height: 289px;
}
/* line 214, ../sass/blocks.scss */
#main .contact-form {
  background: #184b5e;
  padding: 20px;
  color: #fff;
}
/* line 215, ../sass/blocks.scss */
#main .contact-form iframe {
  height: 288px;
}
/* line 217, ../sass/blocks.scss */
#main .schedule-skype {
  background: #184b5e;
  padding: 20px;
  color: #fff;
  margin-bottom: 30px;
}
/* line 218, ../sass/blocks.scss */
#main .schedule-skype iframe {
  height: 495px;
}
/* line 220, ../sass/blocks.scss */
#main #block-views-testimonials-block-1 {
  position: relative;
}
/* line 221, ../sass/blocks.scss */
#main #block-views-testimonials-block-1 p {
  margin: 10px 0;
}
/* line 222, ../sass/blocks.scss */
#main #block-views-testimonials-block-1 .views-field-body {
  background: #fff;
  border: 3px solid #184b5e;
  min-height: 258px;
  border-bottom: none;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  line-height: 34px;
  color: #565656;
}
/* line 224, ../sass/blocks.scss */
#main #block-views-testimonials-block-1 .views-field-nothing a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #f5f6f9;
  font-size: 22px;
  background: #184b5e;
  display: block;
  text-transform: uppercase;
  padding: 15px 22px 12px;
  text-decoration: none;
}
/* line 225, ../sass/blocks.scss */
#main #block-views-testimonials-block-1 .views-field-nothing a:hover {
  background: #5ca0a5;
}
/* line 230, ../sass/blocks.scss */
#main #block-block-14 p {
  margin: 0;
}
/* line 231, ../sass/blocks.scss */
#main #block-block-14 p a {
  color: #f5f6f9;
  background: #5ca0a5;
  font-size: 22px;
  display: block;
  text-transform: uppercase;
  padding: 15px 23px 12px;
  text-decoration: none;
}
/* line 237, ../sass/blocks.scss */
#main #block-block-14 p a:hover {
  background: #184b5e;
}

/* line 244, ../sass/blocks.scss */
#block-block-12 {
  background: #184b5e;
  clear: both;
  text-align: center;
  font-size: 18px;
  min-height: 394px;
}
/* line 68, ../sass/_custom.scss */
#block-block-12:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 69, ../sass/_custom.scss */
#block-block-12:before {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 245, ../sass/blocks.scss */
#block-block-12 .wrapper {
  max-width: 1100px;
  color: #fff;
  width: 100%;
  padding: 37px 0;
  margin: 0 auto;
}
/* line 68, ../sass/_custom.scss */
#block-block-12 .wrapper:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 69, ../sass/_custom.scss */
#block-block-12 .wrapper:before {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 246, ../sass/blocks.scss */
#block-block-12 .col-left {
  max-width: 440px;
  width: 100%;
  float: left;
  margin-left: 44px;
}
/* line 246, ../sass/blocks.scss */
#block-block-12 .col-left a {
  color: #5ca0a5;
  text-decoration: none;
}
/* line 246, ../sass/blocks.scss */
#block-block-12 .col-left a:hover {
  color: #fff;
}
/* line 247, ../sass/blocks.scss */
#block-block-12 .col-right {
  max-width: 533px;
  width: 100%;
  float: right;
  margin-right: 30px;
}
/* line 250, ../sass/blocks.scss */
#block-block-12 .address {
  margin: 29px 0 25px;
}
/* line 250, ../sass/blocks.scss */
#block-block-12 .address a {
  color: #fff;
  display: block;
}
/* line 251, ../sass/blocks.scss */
#block-block-12 .tel a {
  color: #fff;
}
/* line 252, ../sass/blocks.scss */
#block-block-12 .get-direction {
  margin: 15px 0 29px;
  text-transform: uppercase;
}
/* line 253, ../sass/blocks.scss */
#block-block-12 .mail {
  margin: 7px 0 0;
}
/* line 254, ../sass/blocks.scss */
#block-block-12 .social-icons {
  max-width: 170px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 255, ../sass/blocks.scss */
#block-block-12 .social-icons a {
  width: 34px;
  text-indent: -9999px;
  color: transparent;
  height: 34px;
  display: block;
  float: left;
  margin: 0 4px;
}
/* line 256, ../sass/blocks.scss */
#block-block-12 .social-icons .fb {
  background: url("../images/social.png") no-repeat left top;
}
/* line 256, ../sass/blocks.scss */
#block-block-12 .social-icons .fb:hover {
  background: url("../images/social.png") no-repeat left bottom;
}
/* line 257, ../sass/blocks.scss */
#block-block-12 .social-icons .twitter {
  width: 35px;
  background: url("../images/social.png") no-repeat -41px top;
}
/* line 257, ../sass/blocks.scss */
#block-block-12 .social-icons .twitter:hover {
  background: url("../images/social.png") no-repeat -41px bottom;
}
/* line 258, ../sass/blocks.scss */
#block-block-12 .social-icons .gplus {
  background: url("../images/social.png") no-repeat -83px top;
}
/* line 258, ../sass/blocks.scss */
#block-block-12 .social-icons .gplus:hover {
  background: url("../images/social.png") no-repeat -83px bottom;
}
/* line 259, ../sass/blocks.scss */
#block-block-12 .social-icons .linkedin {
  background: url("../images/social.png") no-repeat -124px top;
}
/* line 259, ../sass/blocks.scss */
#block-block-12 .social-icons .linkedin:hover {
  background: url("../images/social.png") no-repeat -124px bottom;
}
/* line 260, ../sass/blocks.scss */
#block-block-12 .social-icons .ytube {
  background: url("../images/social.png") no-repeat right top;
}
/* line 260, ../sass/blocks.scss */
#block-block-12 .social-icons .ytube:hover {
  background: url("../images/social.png") no-repeat right bottom;
}

/* line 265, ../sass/blocks.scss */
.region-bottom {
  max-width: 1100px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}
/* line 266, ../sass/blocks.scss */
.region-bottom a {
  color: #000000;
}
/* line 267, ../sass/blocks.scss */
.region-bottom #block-block-13 {
  text-align: left;
  max-width: 1084px;
}

/*=================================Blog page css===========================*/
/* line 273, ../sass/blocks.scss */
#content .view-page-1-blog .views-field-title {
  color: #184b5e;
  font-size: 24px;
  line-height: 32px;
  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  margin: 0;
  font-weight: 400;
}
/* line 274, ../sass/blocks.scss */
#content .view-page-1-blog .views-field-title a {
  text-decoration: none;
  color: #184b5e;
}
/* line 276, ../sass/blocks.scss */
#content .view-page-1-blog .views-field-created {
  font-weight: 400;
  margin-bottom: 5px;
}
/* line 277, ../sass/blocks.scss */
#content .view-page-1-blog .views-row {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #224863;
}
/* line 278, ../sass/blocks.scss */
#content .view-page-1-blog .views-row-last {
  padding-bottom: 0px;
  border-bottom: none;
  margin-bottom: 0px;
}
/* line 280, ../sass/blocks.scss */
#content .view-page-1-blog .views-field-field-category .views-label-field-category {
  float: left;
  margin-right: 5px;
  font-weight: 600;
}

/* line 285, ../sass/blocks.scss */
#content .view-attorney .title {
  color: #184b5e;
  font-size: 24px;
  line-height: 32px;
  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  margin: 0;
  font-weight: 400;
}
/* line 288, ../sass/blocks.scss */
#content .view-attorney .views-row {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #224863;
  overflow: hidden;
}
/* line 289, ../sass/blocks.scss */
#content .view-attorney .views-row-last {
  padding-bottom: 0px;
  border-bottom: none;
  margin-bottom: 0px;
}
/* line 290, ../sass/blocks.scss */
#content .view-attorney .img-col {
  max-width: 265px;
  float: left;
  margin-right: 20px;
}

/* line 293, ../sass/blocks.scss */
.view-sitemap {
  line-height: 30px;
}
/* line 294, ../sass/blocks.scss */
.view-sitemap ul {
  padding: 0 0 0 17px;
}
/* line 295, ../sass/blocks.scss */
.view-sitemap a {
  text-decoration: none;
}
/* line 296, ../sass/blocks.scss */
.view-sitemap a:hover {
  text-decoration: underline;
}

/* line 300, ../sass/blocks.scss */
#site-map {
  line-height: 30px;
}

/* line 302, ../sass/blocks.scss */
#content header h2 {
  color: #184b5e;
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  margin: 0;
  font-weight: 400;
}
/* line 303, ../sass/blocks.scss */
#content header h2 a {
  text-decoration: none;
  color: #184b5e;
}
/* line 305, ../sass/blocks.scss */
#content .submitted {
  font-weight: 600;
  margin: 0 0 5px;
}
/* line 306, ../sass/blocks.scss */
#content .node-blog {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #224863;
}

/* line 309, ../sass/blocks.scss */
.field-name-field-category .field-label {
  float: left;
  margin-right: 5px;
  font-weight: 600;
  max-width: 30%;
}
/* line 310, ../sass/blocks.scss */
.field-name-field-category .field-items {
  max-width: 60%;
}
/* line 311, ../sass/blocks.scss */
.field-name-field-category .field-items div {
  display: inline-block;
  margin-right: 5px;
}

/* line 315, ../sass/blocks.scss */
.sidebars h2 {
  text-align: left;
}
/* line 316, ../sass/blocks.scss */
.sidebars #block-views-exp-page-1-blog-page-2 {
  margin-bottom: 17px;
  height: 41px;
  position: relative;
}
/* line 317, ../sass/blocks.scss */
.sidebars #block-views-exp-page-1-blog-page-2 .views-exposed-widgets {
  margin: 0;
}
/* line 318, ../sass/blocks.scss */
.sidebars #block-views-exp-page-1-blog-page-2 .views-exposed-form .views-exposed-widget {
  padding: 0;
  width: 100%;
}
/* line 319, ../sass/blocks.scss */
.sidebars #block-views-exp-page-1-blog-page-2 .form-text {
  border: 1px solid #c3c3c3;
  max-width: 100%;
  float: left;
  vertical-align: top;
  padding: 10px 160px 10px 3px;
  margin: 0;
  height: 41px;
}
/* line 320, ../sass/blocks.scss */
.sidebars #block-views-exp-page-1-blog-page-2 .form-submit {
  font-size: 18px;
  width: 158px;
  font-weight: 200;
  height: 41px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 0px 12px 0;
  background: #5ca0a5;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 321, ../sass/blocks.scss */
.sidebars #block-views-exp-page-1-blog-page-2 .form-submit:hover {
  background: #032a39;
}
/* line 324, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1, .sidebars .accordion-menu-wrapper {
  margin-bottom: 20px;
}
/* line 325, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h2, .sidebars .accordion-menu-wrapper h2 {
  color: #fff;
  background: #184b5e;
  font-size: 22px;
  display: block;
  text-transform: uppercase;
  padding: 17px 18px;
  text-decoration: none;
}
/* line 333, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3, .sidebars .accordion-menu-wrapper h3 {
  border: none;
  text-transform: none;
  margin: 0;
  background: #5ca0a5;
  padding: 5px;
  border-radius: 0px;
  border-bottom: 1px solid #e2e2e2;
}
/* line 68, ../sass/_custom.scss */
.sidebars #block-views-page-1-blog-block-1 h3:after, .sidebars .accordion-menu-wrapper h3:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 69, ../sass/_custom.scss */
.sidebars #block-views-page-1-blog-block-1 h3:before, .sidebars .accordion-menu-wrapper h3:before {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 334, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3.ui-state-active, .sidebars .accordion-menu-wrapper h3.ui-state-active {
  background: #5ca0a5;
}
/* line 335, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3.ui-state-active span, .sidebars #block-views-page-1-blog-block-1 h3.ui-state-active a, .sidebars .accordion-menu-wrapper h3.ui-state-active span, .sidebars .accordion-menu-wrapper h3.ui-state-active a {
  color: #fff;
}
/* line 336, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3.ui-state-active span:first-child, .sidebars .accordion-menu-wrapper h3.ui-state-active span:first-child {
  float: right;
  margin-top: 3px;
  background: url("../images/sidebar-arrow-hover.png") no-repeat center center;
  width: 11px;
}
/* line 338, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3 a, .sidebars #block-views-page-1-blog-block-1 h3 span, .sidebars .accordion-menu-wrapper h3 a, .sidebars .accordion-menu-wrapper h3 span {
  float: left;
  display: inline-block;
  padding: 4px;
  font-weight: bold;
  color: #fff;
  font-family: "PT Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 88%;
}
/* line 339, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3 a:first-child, .sidebars #block-views-page-1-blog-block-1 h3 span:first-child, .sidebars .accordion-menu-wrapper h3 a:first-child, .sidebars .accordion-menu-wrapper h3 span:first-child {
  float: right;
  margin-top: 3px;
  background: url("../images/sidebar-arrow.png") no-repeat center center;
  width: 11px;
}
/* line 341, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3:hover, .sidebars .accordion-menu-wrapper h3:hover {
  background: #5ca0a5;
}
/* line 342, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3:hover span, .sidebars #block-views-page-1-blog-block-1 h3:hover a, .sidebars .accordion-menu-wrapper h3:hover span, .sidebars .accordion-menu-wrapper h3:hover a {
  color: #fff;
}
/* line 343, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3:hover span:first-child, .sidebars .accordion-menu-wrapper h3:hover span:first-child {
  float: right;
  margin-top: 3px;
  background: url("../images/sidebar-arrow-hover.png") no-repeat center center;
  width: 11px;
}
/* line 346, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3.no-children span:first-child, .sidebars .accordion-menu-wrapper h3.no-children span:first-child {
  background: none;
}
/* line 348, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 h3:last-child, .sidebars .accordion-menu-wrapper h3:last-child {
  border-bottom: none !important;
}
/* line 350, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 .views-row, .sidebars .accordion-menu-wrapper .views-row {
  padding: 10px 5px !important;
  border-bottom: 1px dotted #e2e2e2;
  margin: 0 5px;
}
/* line 351, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 .views-row.views-row-last, .sidebars .accordion-menu-wrapper .views-row.views-row-last {
  border: none;
}
/* line 352, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 .views-row a, .sidebars .accordion-menu-wrapper .views-row a {
  text-decoration: none;
}
/* line 353, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 .views-row a:hover, .sidebars .accordion-menu-wrapper .views-row a:hover {
  text-decoration: underline;
}
/* line 356, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div, .sidebars .accordion-menu-wrapper div {
  border: none;
  border-radius: 0px;
  padding: 0 !important;
}
/* line 357, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div ul, .sidebars .accordion-menu-wrapper div ul {
  float: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 358, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div ul li, .sidebars .accordion-menu-wrapper div ul li {
  background: #ebebeb;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  padding: 0;
  margin: 0;
  float: none;
}
/* line 359, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div ul li a, .sidebars .accordion-menu-wrapper div ul li a {
  padding: 7px;
  margin: 0;
  color: #9DC6C9;
  text-decoration: none;
  display: block;
}
/* line 360, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div ul li a:hover, .sidebars .accordion-menu-wrapper div ul li a:hover {
  color: #fff;
  background: #9DC6C9;
}
/* line 362, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div ul li ul, .sidebars .accordion-menu-wrapper div ul li ul {
  position: relative;
  top: 0;
  width: auto;
  display: block;
  visibility: visible;
}
/* line 363, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div ul li ul li, .sidebars .accordion-menu-wrapper div ul li ul li {
  float: none;
  background: #c3c3c3;
  width: auto;
}
/* line 364, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div ul li ul li ul, .sidebars .accordion-menu-wrapper div ul li ul li ul {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
}
/* line 365, ../sass/blocks.scss */
.sidebars #block-views-page-1-blog-block-1 div ul li ul li ul li, .sidebars .accordion-menu-wrapper div ul li ul li ul li {
  float: none;
  background: #d5d5d5;
  width: auto;
}
/* line 374, ../sass/blocks.scss */
.sidebars #block-menu-block-1, .sidebars #block-menu-block-2 {
  margin-bottom: 40px;
}
/* line 375, ../sass/blocks.scss */
.sidebars #block-menu-block-1 h2, .sidebars #block-menu-block-2 h2 {
  margin-bottom: 0px;
  background: #184b5e;
  padding: 14px 20px;
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
}
/* line 383, ../sass/blocks.scss */
.sidebars #block-menu-block-1 ul, .sidebars #block-menu-block-2 ul {
  float: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 384, ../sass/blocks.scss */
.sidebars #block-menu-block-1 ul li, .sidebars #block-menu-block-2 ul li {
  background: none;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  padding: 0;
  margin: 0;
  float: none;
  list-style-type: none;
}
/* line 385, ../sass/blocks.scss */
.sidebars #block-menu-block-1 ul li a, .sidebars #block-menu-block-2 ul li a {
  padding: 7px;
  margin: 0;
  color: #5ca0a5;
  text-decoration: none;
  display: block;
}
/* line 386, ../sass/blocks.scss */
.sidebars #block-menu-block-1 ul li a:hover, .sidebars #block-menu-block-2 ul li a:hover {
  color: #fff;
  background: #5ca0a5;
}
/* line 388, ../sass/blocks.scss */
.sidebars #block-menu-block-1 ul li ul, .sidebars #block-menu-block-2 ul li ul {
  position: relative;
  top: 0;
  width: auto;
  display: block;
  visibility: visible;
}
/* line 389, ../sass/blocks.scss */
.sidebars #block-menu-block-1 ul li ul li, .sidebars #block-menu-block-2 ul li ul li {
  float: none;
  background: none;
  width: auto;
}
/* line 390, ../sass/blocks.scss */
.sidebars #block-menu-block-1 ul li ul li ul, .sidebars #block-menu-block-2 ul li ul li ul {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
}
/* line 391, ../sass/blocks.scss */
.sidebars #block-menu-block-1 ul li ul li ul li, .sidebars #block-menu-block-2 ul li ul li ul li {
  float: none;
  background: #5ca0a5;
  width: auto;
}

/*=========================Blog pages css end here=====================*/
/* line 401, ../sass/blocks.scss */
.node-17 iframe {
  max-width: 100%;
  width: 100%;
}

/*=========================Testimonials pages css start here=====================*/
/* line 405, ../sass/blocks.scss */
#content .view-testimonials .views-row {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #224863;
}
/* line 405, ../sass/blocks.scss */
#content .view-testimonials .views-row p {
  margin-bottom: 10px;
}
/* line 406, ../sass/blocks.scss */
#content .view-testimonials .views-field-field-reviewer-name {
  font-weight: 600;
}
/* line 407, ../sass/blocks.scss */
#content .view-testimonials .views-row-last {
  padding-bottom: 0px;
  border-bottom: none;
  margin-bottom: 0px;
}

/*=========================Testimonials pages css end here=====================*/
/* line 411, ../sass/blocks.scss */
.lt-ie9 #block-views-mast-cycle-block .slider-content {
  background: #1d5465;
}
/* line 412, ../sass/blocks.scss */
.lt-ie9 #block-nice-menus-2 ul > li a {
  margin: 0 10px;
}
/* line 413, ../sass/blocks.scss */
.lt-ie9 #block-block-10 {
  overflow: hidden;
}
/* line 414, ../sass/blocks.scss */
.lt-ie9 #block-block-10 p a {
  width: 271px;
  float: left;
}

/* line 417, ../sass/blocks.scss */
.avvo_badge {
  display: inline-block;
  margin: 0 auto;
  max-width: 152px;
}

/* line 421, ../sass/blocks.scss */
.display-none {
  display: none;
}

@media all and (max-width: 1198px) {
  /* line 423, ../sass/blocks.scss */
  #logo {
    max-width: 40%;
  }

  /* line 425, ../sass/blocks.scss */
  .region-navigation {
    display: none;
  }

  /* line 426, ../sass/blocks.scss */
  #header {
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 427, ../sass/blocks.scss */
  #block-views-mast-cycle-block .slider-content {
    top: 40%;
    max-width: 80%;
  }

  /* line 428, ../sass/blocks.scss */
  #block-views-mast-cycle-block .slider-content .field-content {
    max-width: 90%;
    width: 100%;
  }

  /* line 429, ../sass/blocks.scss */
  #main {
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 430, ../sass/blocks.scss */
  #main #content {
    max-width: 100%;
  }

  /* line 431, ../sass/blocks.scss */
  #main .sidebars {
    max-width: 100%;
  }

  /* line 432, ../sass/blocks.scss */
  #block-block-12 .col-left {
    max-width: 100%;
    margin-left: 0;
    float: none;
  }

  /* line 433, ../sass/blocks.scss */
  #block-block-12 .col-right {
    max-width: 100%;
    margin: 30px auto 0;
    float: none;
  }

  /* line 434, ../sass/blocks.scss */
  #block-views-mast-cycle-block .slider-content .field-content {
    font-size: 21px;
    line-height: 26px;
  }

  /* line 437, ../sass/blocks.scss */
  #main #block-views-testimonials-block-1 .views-field-nothing a {
    text-align: center;
  }

  /* line 438, ../sass/blocks.scss */
  #main #block-block-14 p a {
    text-align: center;
  }

  /* line 439, ../sass/blocks.scss */
  #block-nice-menus-1 {
    max-width: 584px;
  }
  /* line 440, ../sass/blocks.scss */
  #block-nice-menus-1 ul li {
    margin: 5px 0;
  }

  /* line 442, ../sass/blocks.scss */
  .region-header {
    margin-right: 0;
    max-width: 422px;
  }

  /* line 443, ../sass/blocks.scss */
  #block-block-16 {
    color: #2e5c6d;
    font-size: 16px;
    padding-top: 18px;
    text-align: right;
    margin-bottom: 10px;
    overflow: hidden;
  }
  /* line 444, ../sass/blocks.scss */
  #block-block-16 .address {
    text-transform: capitalize;
    line-height: normal;
  }
  /* line 445, ../sass/blocks.scss */
  #block-block-16 .address a {
    color: #2e5c6d;
    text-decoration: none;
  }
  /* line 446, ../sass/blocks.scss */
  #block-block-16 .address .location {
    display: inline-block;
    margin-left: 20px;
  }
  /* line 447, ../sass/blocks.scss */
  #block-block-16 .address .text {
    display: inline-block;
    max-width: 90%;
  }
  /* line 451, ../sass/blocks.scss */
  #block-block-16 .contact-number {
    overflow: hidden;
    margin: 7px 0;
    color: #000000;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
  }
  /* line 452, ../sass/blocks.scss */
  #block-block-16 .contact-number a {
    color: #000000;
    float: right;
    text-decoration: none;
    background: url("../images/call.png") no-repeat right center;
    padding-right: 35px;
    display: block;
  }
  /* line 453, ../sass/blocks.scss */
  #block-block-16 .search-icon {
    width: 23px;
    cursor: pointer;
    height: 23px;
    background: url("../images/search-icon.png") no-repeat;
    display: inline-block;
    margin-left: 13px;
  }
  /* line 454, ../sass/blocks.scss */
  #block-block-16 .email-id {
    text-align: right;
    max-width: 251px;
    clear: right;
    float: right;
    width: 100%;
  }
  /* line 455, ../sass/blocks.scss */
  #block-block-16 .email-id a {
    color: #2e5c6d;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
  }

  /* line 458, ../sass/blocks.scss */
  #block-views-association-logos-block-1 .slick__arrow, #block-views-association-logos-block .slick__arrow {
    max-width: 90%;
  }

  /* line 459, ../sass/blocks.scss */
  #block-views-association-logos-block-1 .slick-slider, #block-views-association-logos-block .slick-slider {
    max-width: 77%;
  }

  /* line 460, ../sass/blocks.scss */
  #block-views-association-logos-block-1, #block-views-association-logos-block {
    padding: 11px 20px;
    box-sizing: border-box;
  }

  /* line 461, ../sass/blocks.scss */
  #block-search-form {
    top: 150px;
  }

  /* line 463, ../sass/blocks.scss */
  .region-bottom {
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 464, ../sass/blocks.scss */
  #main #block-views-testimonials-block-1 .views-field-body {
    min-height: 0;
  }
}
@media all and (min-width: 768px) and (max-width: 1198px) {
  /* line 467, ../sass/blocks.scss */
  #main #block-block-7 {
    text-align: center;
  }
  /* line 468, ../sass/blocks.scss */
  #main #block-block-7 .title {
    margin: 45px 0 13px 0;
    font-size: 34px;
  }
  /* line 469, ../sass/blocks.scss */
  #main #block-block-7 .call-free {
    padding: 0;
    font-size: 28px;
  }

  /* line 471, ../sass/blocks.scss */
  #block-block-10 p {
    text-align: center;
  }
  /* line 472, ../sass/blocks.scss */
  #block-block-10 p a {
    max-width: 175px;
    margin: 0;
  }
  /* line 473, ../sass/blocks.scss */
  #block-block-10 p a .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 50px 23px;
    bottom: 0;
    background: rgba(3, 42, 57, 0.5);
  }
  /* line 474, ../sass/blocks.scss */
  #block-block-10 p a img {
    height: auto !important;
  }
  /* line 475, ../sass/blocks.scss */
  #block-block-10 p a:hover .content {
    display: none;
  }
  /* line 476, ../sass/blocks.scss */
  #block-block-10 p a:hover .title {
    background: rgba(3, 42, 57, 0.8);
  }
}
@media all and (max-width: 767px) {
  /* line 482, ../sass/blocks.scss */
  #logo {
    max-width: 566px;
    float: none;
    overflow: hidden;
    margin: 27px auto 14px;
    display: block;
  }

  /* line 487, ../sass/blocks.scss */
  .region-header {
    max-width: 422px;
    float: none;
    margin: 0 auto;
  }

  /* line 493, ../sass/blocks.scss */
  #block-views-mast-cycle-block .slider-content {
    position: static;
  }

  /* line 494, ../sass/blocks.scss */
  #block-block-16 .address {
    text-align: center;
  }

  /* line 495, ../sass/blocks.scss */
  #block-block-16 .contact-number a {
    margin: 0 auto;
    width: 214px;
    float: none;
  }

  /* line 496, ../sass/blocks.scss */
  #block-block-16 .email-id {
    float: none;
    margin: 20px auto 15px;
    text-align: center;
  }

  /* line 497, ../sass/blocks.scss */
  #block-views-mast-cycle-block .slider-content {
    max-width: 100%;
  }
  /* line 498, ../sass/blocks.scss */
  #block-views-mast-cycle-block .slider-content .field-content {
    font-size: 14px;
    line-height: 16px;
    max-width: 91%;
  }

  /* line 503, ../sass/blocks.scss */
  #block-views-mast-cycle-block .flex-control-nav li a {
    width: 9px;
    height: 9px;
  }

  /* line 504, ../sass/blocks.scss */
  #block-views-mast-cycle-block .flex-control-nav {
    bottom: -20px;
    z-index: 2;
  }

  /* line 508, ../sass/blocks.scss */
  .iphone #block-views-mast-cycle-block .flex-control-nav {
    bottom: -14px;
  }

  /* line 509, ../sass/blocks.scss */
  #block-block-10 p a {
    max-width: 272px;
  }

  /* line 512, ../sass/blocks.scss */
  #block-block-10 p {
    text-align: center;
  }
  /* line 513, ../sass/blocks.scss */
  #block-block-10 p a {
    margin: 0;
    text-align: left;
  }

  /* line 519, ../sass/blocks.scss */
  #block-views-mast-cycle-block p {
    margin: 7px 0;
  }

  /* line 520, ../sass/blocks.scss */
  #block-block-12 .wrapper {
    padding: 37px 20px;
    box-sizing: border-box;
  }

  /* line 521, ../sass/blocks.scss */
  #block-views-mast-cycle-block .slider-content {
    background: rgba(24, 75, 90, 0.55);
  }

  /* line 522, ../sass/blocks.scss */
  #block-search-form {
    position: relative;
    top: 0;
    width: 100%;
  }
  /* line 523, ../sass/blocks.scss */
  #block-search-form #search-block-form {
    width: 100%;
  }

  /* line 526, ../sass/blocks.scss */
  #block-block-12 .tel a {
    display: block;
  }

  /* line 527, ../sass/blocks.scss */
  #main #content article img {
    float: none !important;
    display: block;
    margin: 10px  auto !important;
    max-width: 200px;
    height: auto !important;
  }

  /* line 528, ../sass/blocks.scss */
  #block-block-16 .address .text {
    max-width: 86%;
  }

  /* line 529, ../sass/blocks.scss */
  #main #block-block-7 .form-title {
    background: #fff url("../images/mini-form-img.png") no-repeat right top;
  }

  /* line 531, ../sass/blocks.scss */
  #block-nice-menus-1 ul > li a {
    margin: 0 8px;
  }

  /* line 532, ../sass/blocks.scss */
  #block-nice-menus-1 ul > li.first a {
    margin: 0 8px;
  }

  /* line 533, ../sass/blocks.scss */
  #block-nice-menus-1 {
    padding: 0 15px;
  }

  /* line 534, ../sass/blocks.scss */
  .avvo_badge {
    display: block;
    margin: 0 auto;
    max-width: 152px;
  }
}
@media all and (max-width: 360px) {
  /* line 542, ../sass/blocks.scss */
  #main #block-block-7 .form-title {
    background: #fff url("../images/mini-form-img.png") no-repeat 47% top;
  }

  /* line 543, ../sass/blocks.scss */
  #block-block-16 .address .location {
    margin-left: 0px;
  }

  /* line 544, ../sass/blocks.scss */
  #content .view-attorney .img-col {
    float: none;
  }
}
